*.prefs
*~.qtz
*.classpath
*.project
OpenGL/build-Motion-Desktop_Qt_5_3_clang_64bit-Debug
Processing/motion/lib
/lib
/bin
/target/
/skm/
/brushes/
/captures/
/show/
/.settings/
/environment/
.settings
